/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 1rem;
	gap: 10px;
}

/* Card */
.card {
	background-color: darkviolet;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	cursor: pointer;
}

.card:hover {
	background-color: rgb(200, 91, 255);
}

.card-image img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

.cards-display {
	padding: 2rem;
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 1rem;

}

.score {
	font-family: fantasy;
	color: rgb(117, 0, 167);
	font-weight: 500;
	font-stretch: wider;
}


