/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 1rem;
	gap: 10px;
}

/* Card */
.card {
	background-color: darkviolet;
	width: 250px;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
}

.card-image {
	background-color: #eee;
	width: 90%;
	margin-top: 12px;
	height: 100%;
	border-radius: 8px;
}
